.resultsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.errorTitle{
    text-align: center;
    padding: 10px;
    color: #6a0101;
}

.exampleInfo{
    text-align: center;
    color: #6a0101;
}

.table{
    margin: auto;
    border: 1px solid;
    border-radius: 20px;
    padding: 10px;
}

.spaceColumns{
    padding: 14px;
    text-align: center;
    border-bottom: 1px solid gray;
}

.lineTable{
    background-color: yellow;
}